<%-include ("../Includes/Admin/head.ejs")%>

    <body>
        <%-include ("../Includes/Admin/header.ejs")%>
            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">
                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/dashboard">
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- End Dashboard Nav -->
                    </li><!-- End Components Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/client">
                            <i class="bi bi-people-fill"></i>
                            <span>Manage Clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/equipment">
                            <i class="bi bi-gear"></i>
                            <span>Manage Equipment</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/attendance">
                            <i class="bi bi-calendar-check"></i>
                            <span>Attendance</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/profile">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- End Sidebar-->
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>History Attendance</h1>
                    <nav style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">History Attendance</li>
                        </ol>
                    </nav>
                </div>
                <section class="section profile">
                    <div class="row">
                        <%-include ("../Includes/message.ejs")%>
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">History Attendance</h5>
                                    <div class="table-responsive-md">
                                        <table class="table table-bordered" id="clientTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Date</th> 
                                                    <th scope="col">Client Name</th>
                                                    <th scope="col">Time In</th>
                                                    <th scope="col">Time Out</th>
                                                    <th scope="col">Time Spent</th>
                                          
                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% attendanceData.forEach((attendance, index) => { %>
                                                    <tr>
                                                        <td><%= index + 1 %></td>
                                                        <td> <%= new Date(attendance.date).toLocaleDateString('en-US', { month: 'long'
                                                        , day: 'numeric' , year: 'numeric' }) %></td>
                                                       
                                                        <td><%= attendance.fullname %></td>
                                                        <td><%= attendance.time_in %></td>
                                                        <td><%= attendance.time_out %></td>
                                                        <td>
                                                            <%= (() => {
                                                                if (attendance && attendance.date && attendance.time_in && attendance.time_out) {
                                                                    const timeInDate = new Date(`${attendance.date} ${attendance.time_in}`);
                                                                    const timeOutDate = new Date(`${attendance.date} ${attendance.time_out}`);
                                                                    const timeDiffMinutes = Math.floor((timeOutDate - timeInDate) / (1000 * 60));
                                                            
                                                                    if (isNaN(timeDiffMinutes)) {
                                                                        return '0 minutes';
                                                                    } else {
                                                                        const hours = Math.floor(timeDiffMinutes / 60);
                                                                        const minutes = timeDiffMinutes % 60;
                                                                        return timeDiffMinutes >= 60 ? `${hours} hours ${minutes} minutes` : `${timeDiffMinutes} minutes`;
                                                                    }
                                                                } else {
                                                                    return 'N/A'; // Return 'N/A' if attendance or its properties are undefined
                                                                }
                                                            })() %>
                                                        </td>
                                          
                                                   
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                    </div>
                    </div>

                </section>


            </main>
            <!-- End #main -->
            <%-include ("../Includes/Admin/script.ejs")%>
                <script>

                    $(document).ready(function () {
                        $('#clientTable').DataTable();
                    });





                </script>
    </body>

    </html>