<%-include ("../Includes/Admin/head.ejs")%>

  <body>
    <%-include ("../Includes/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link " href="/admin/dashboard">
              <i class="bi bi-grid-fill"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/client">
              <i class="bi bi-people-fill"></i>
              <span>Manage Clients</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/equipment">
              <i class="bi bi-gear"></i>
              <span>Manage Equipment</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/attendance">
              <i class="bi bi-calendar-check"></i>
              <span>Manage Attendance</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/membership">
              <i class="bi bi-card-checklist"></i>
              <span>Manage Membership</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/announcement">
              <i class="bi bi-megaphone"></i>
              <span>Announcement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/trainer">
              <i class="bi bi-person-bounding-box"></i>
              <span>Manage Trainer</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/report">
              <i class="bi bi-file-earmark-bar-graph"></i>
              <span>Report</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar-->
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Dashboard</h1>
          <nav style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <section class="section dashboard">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card blue-card">

                    <div class="card-body">
                      <h5 class="card-title">Active Clients <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-person-fill-check"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=count_active%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card red-card">

                    <div class="card-body">
                      <h5 class="card-title">Enrolled Clients <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people-fill"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=count_member%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card green-card">

                    <div class="card-body">
                      <h5 class="card-title">Earnings <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          ₱
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=total_earnings%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card yellow-card">

                    <div class="card-body">
                      <h5 class="card-title">Active Trainer <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-person-bounding-box"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=count_trainer%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card blue-card">

                    <div class="card-body">
                      <h5 class="card-title">Equipment <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-nut"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=count_equipment%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                  <div class="card info-card red-card">

                    <div class="card-body">
                      <h5 class="card-title">Attendance <span>| Today</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-person-vcard"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=count_attendance%>
                          </h6>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Attendance Weekly Report</h5>

                  <div id="lineChart" style="min-height: 400px;" class="echart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      const today = new Date();
                      const daysOfWeek = [];

                      for (let i = 6; i >= 0; i--) {
                        const currentDate = new Date(today);
                        currentDate.setDate(today.getDate() - i);
                        const shortDayName = currentDate.toLocaleDateString('en-US', { weekday: 'short' });
                        daysOfWeek.push(shortDayName);
                      }

                      echarts.init(document.querySelector("#lineChart")).setOption({
                        xAxis: {
                          type: 'category',
                          data: daysOfWeek
                        },
                        yAxis: {
                          type: 'value'
                        },
                        series: [{
                          data: ['<%=attendance7%>', '<%=attendance6%>', '<%=attendance5%>', '<%=attendance4%>', '<%=attendance3%>', '<%=attendance2%>', '<%=attendance1%>',
                          ],
                          type: 'line',
                          smooth: true
                        }]
                      });
                    });

                  </script>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Membership Report</h5>


                  <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      echarts.init(document.querySelector("#pieChart")).setOption({

                        tooltip: {
                          trigger: 'item'
                        },
                        legend: {
                          orient: 'vertical',
                          left: 'left'
                        },
                        series: [{

                          type: 'pie',
                          radius: '50%',
                          data: [{
                            value: '<%=membership_body%>',
                            name: 'Body Building'
                          },
                          {
                            value: '<%=membership_cardio%>',
                            name: 'Cardio'
                          },
                          {
                            value: '<%=membership_power%>',
                            name: 'Powerlifting'
                          },

                          ],
                          emphasis: {
                            itemStyle: {
                              shadowBlur: 10,
                              shadowOffsetX: 0,
                              shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                          }
                        }]
                      });
                    });
                  </script>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">

                          <h5 class="card-title">Financial Report</h5>

                          <div id="verticalBarChart" style="min-height: 120px;" class="echart"></div>

                          <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              echarts.init(document.querySelector("#verticalBarChart")).setOption({

                                tooltip: {
                                  trigger: 'axis',
                                  axisPointer: {
                                    type: 'shadow'
                                  }
                                },
                                legend: {},
                                grid: {
                                  left: '3%',
                                  right: '4%',
                                  bottom: '3%',
                                  containLabel: true
                                },
                                xAxis: {
                                  type: 'value',
                                  boundaryGap: [0, 1.1]
                                },
                                yAxis: {
                                  type: 'category',
                                  data: ['PHP']
                                },
                                series: [{
                                  name: 'Expenses',
                                  type: 'bar',
                                  data: ['<%=total_expenses%>']
                                },
                                {
                                  name: 'Earning',
                                  type: 'bar',
                                  data: ['<%=total_earnings%>']
                                }
                                ]
                              });
                            });
                          </script>


                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Transaction History</h5>
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Service/Plan</th>
                                <th scope="col">Amount</th>

                              </tr>
                            </thead>
                            <tbody>
                              <% membership_history.forEach(function(membership) { %>
                                <tr>
                                  <td>
                                    <%= new Date(membership.status_change_date).toLocaleDateString('en-US', {
                                      month: 'long' , day: 'numeric' , year: 'numeric' }) %>
                                  </td>
                                  <td>
                                    <%= membership.fullname %>
                                  </td>
                                  <td>
                                    <%= membership.membership_service %> for <%= membership.membership_plan %> month/s
                                  </td>
                                  <td>PHP <%= membership.total_amount %>
                                  </td>
                                </tr>
                                <% }); %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Task Created All Time</h5>
                          <div id="halfDonutChart" style="min-height: 220px;" class="echart"></div>
                          <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              echarts.init(document.querySelector("#halfDonutChart")).setOption({

                                tooltip: {
                                  trigger: 'item'
                                },
                                legend: {
                                  top: '5%',
                                  left: 'center'
                                },
                                series: [
                                  {
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                      show: false,
                                      position: 'center'
                                    },
                                    emphasis: {
                                      label: {
                                        show: true,
                                        fontSize: 40,
                                        fontWeight: 'bold'
                                      }
                                    },
                                    labelLine: {
                                      show: false
                                    },
                                    data: [
                                      { value: '<%=count_progress%>', name: 'In Progress' },
                                      { value: '<%=count_done%>', name: 'Done' },
                                      { value: '<%=count_cancelled%>', name: 'Cancelled' },


                                    ]
                                  }
                                ]
                              });
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Task History</h5>

                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>

                              </tr>
                            </thead>
                            <tbody>
                              <% task_history.forEach(function(task) { %>
                                <tr>
                                  <td>
                                    <%= new Date(task.date).toLocaleDateString('en-US', { month: 'long' , day: 'numeric'
                                      , year: 'numeric' }) %>
                                  </td>
                                  <td>
                                    <%= task.fullname %>
                                  </td>
                                  <td>
                                    <%= task.description %>
                                  </td>
                                  <td>
                                    <span
                                      class="badge <%= task.status === 'Done' ? 'bg-success' : (task.status === 'In Progress' ? 'bg-warning' : 'bg-danger') %>">
                                      <%= task.status %>
                                    </span>
                                  </td>

                                </tr>
                                <% }); %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>

        </section>

      </main>
      <!-- End #main -->
      <%-include ("../Includes/Admin/script.ejs")%>
        <script>

        </script>
  </body>

  </html>