<%-include ("../Includes/Admin/head.ejs")%>

    <body>
        <%-include ("../Includes/Admin/header.ejs")%>
            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">
                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/dashboard">
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- End Dashboard Nav -->
                    </li><!-- End Components Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/client">
                            <i class="bi bi-people-fill"></i>
                            <span>Manage Clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/equipment">
                            <i class="bi bi-gear"></i>
                            <span>Manage Equipment</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/attendance">
                            <i class="bi bi-calendar-check"></i>
                            <span>Manage Attendance</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/membership">
                            <i class="bi bi-card-checklist"></i>
                            <span>Manage Membership</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/announcement">
                            <i class="bi bi-megaphone"></i>
                            <span>Announcement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admin/profile">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- End Sidebar-->
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Payment Form</h1>
                    <nav style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Payment Form</li>
                        </ol>
                    </nav>
                </div>
                <section class="section profile">

                    <%-include ("../Includes/message.ejs")%>

                        <div class="card ">
                            <div class="card-header bg-dark text-white">Payment Confirmation </div>
                            <div class="card-body">
                                <div class="mt-4">

                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 30%;">Full Name</th>
                                            <td>
                                                <%= membership.fullname %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phone Number</th>
                                            <td>
                                                <%= membership.phonenumber %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Membership Service</th>
                                            <td>
                                                <%= membership.membership_service %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Membership Plan</th>
                                            <td>
                                                <%= membership.membership_plan %> month/s
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Total Amount</th>
                                            <td>PHP <%= membership.total_amount %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Payment Status</th>
                                            <td>
                                                <%= membership.membership_status %>
                                            </td>
                                        </tr>
                                    </table>


                                    <button
                                        onclick="confirmPayment('<%=membership.membership_id%>', '<%=membership.membership_plan%>')"
                                        class="btn btn-dark btn-sm me-1">Confirm</button>
                                    <a href="/admin/membership/upcoming/" class="btn btn-outline-dark btn-sm">Go
                                        Back</a>



                                </div>
                            </div>
                        </div>



                </section>


            </main>
            <!-- End #main -->
            <%-include ("../Includes/Admin/script.ejs")%>
                <script>

                    $(document).ready(function () {
                        $('#clientTable').DataTable();
                    });



                    function confirmPayment(id, plan) {
                        Swal.fire({
                            title: "Confirm Payment",
                            text: "Are you sure you want to confirm this payment? This action cannot be undone.",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Confirm", // Set the text for the confirmation button
                            cancelButtonText: "Cancel",  // Set the text for the cancel button
                        }).then((result) => {
                            if (result.isConfirmed) {
                                fetch("/admin/confirm_payment", {
                                    method: "POST",
                                    body: JSON.stringify({ id, plan }),
                                    headers: { "Content-Type": "application/json" },
                                })
                                    .then((res) => res.json())
                                    .then((response) => {
                                        if (response.status === "success") {
                                            Swal.fire(
                                                'Success!',
                                                `${response.message}`,
                                                'success'
                                            ).then(function () {
                                                window.location.href = '/admin/membership';
                                            });
                                        }
                                        if (response.status === "error") {
                                            Swal.fire(
                                                'Error',
                                                `${response.message}`,
                                                'error'
                                            ).then(function () {
                                                window.location.href = '/admin/membership';
                                            });
                                        }
                                    });
                            } else if (result.isDismissed) {
                                // User clicked the "Cancel" button or outside the dialog
                                // You can add code for what should happen when the cancel button is clicked or the dialog is dismissed
                            }
                        });
                    }


                </script>
    </body>

    </html>