<%-include ("../Includes/Trainer/head.ejs")%>

    <body>
        <%-include ("../Includes/Trainer/header.ejs")%>
            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">
                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/trainer/dashboard">
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- End Dashboard Nav -->
                    </li><!-- End Components Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/trainer/client">
                            <i class="bi bi-people-fill"></i>
                            <span>Clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/trainer/task">
                            <i class="bi bi-list-task"></i>
                            <span>Tasks</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/trainer/announcement">
                            <i class="bi bi-megaphone"></i>
                            <span>Announcement</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/trainer/profile">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- End Sidebar-->
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Task Management</h1>
                    <nav style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/trainer/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Task Management</li>
                        </ol>
                    </nav>
                </div>
                <section class="section profile">

                    <div class="row">
                        <%-include ("../Includes/message.ejs")%>
                        <div class="card ">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-6">

                                        <h5 class="card-title mb-4">Create Task</h5>
                                        <div class="form">
                                            <form method="post" class="needs-validation" novalidate>
                                                <div class="mb-3">
                                                    <label for="clientSelect" class="form-label">Select Client</label>
                                                    <select class="form-select select2" id="clientSelect" required name="client_id">
                                                        <option value="" disabled selected>Select client</option>
                                                        <% clients.forEach(function(client) { %>
                                                            <option value="<%= client.id %>">
                                                                <%= client.client_name %> ( <%=
                                                                        client.membership_service%>)
                                                            </option>
                                                            <% }); %>
                                                    </select>
                                                    <div class="invalid-feedback">Please select a client.</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="taskTitle" class="form-label">Task Description</label>
                                                    <input type="text" class="form-control" id="taskTitle" name="description"
                                                        placeholder="Enter task title" required>
                                                    <div class="invalid-feedback">Please add task</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="dueDate" class="form-label">Due Date</label>
                                                    <input type="date" class="form-control" id="dueDate" required name="date"
                                                        min="<%= new Date().toISOString().split('T')[0] %>">
                                                    <div class="invalid-feedback">Please enter a date</div>
                                                </div>

                                                <button type="submit" class="btn btn-dark me-1">Create Task</button>
                                                <a href="/trainer/task" class="btn btn-outline-dark">Cancel</a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <h5 class="card-title mb-4">Workout Program List</h5>
                                        <div class="accordion" id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseOne"
                                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                        Cardio
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseOne"
                                                    class="accordion-collapse collapse "
                                                    aria-labelledby="panelsStayOpen-headingOne">
                                                    <div class="accordion-body">
                                                        <ul>
                                                            <li>Brisk Walking</li>
                                                            <li>Running</li>
                                                            <li>Cycling</li>
                                                            <li>Jumping Jacks</li>
                                                            <li>Swimming</li>
                                                            <li>Jump Rope</li>
                                                            <li>Elliptical Training</li>
                                                            <li>Rowing Machine</li>
                                                            <li>Stair Climbing</li>
                                                            <li>Dancing</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseTwo"
                                                        aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseTwo">
                                                        Powerlifting
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="panelsStayOpen-headingTwo">
                                                    <div class="accordion-body">
                                                        <ul>
                                                            <li>Squat</li>
                                                            <li>Bench Press</li>
                                                            <li>Deadlift</li>
                                                            <li>Barbell Rows</li>
                                                            <li>Overhead Press</li>
                                                            <li>Power Cleans</li>
                                                            <li>Front Squats</li>
                                                            <li>Sumo Deadlifts</li>
                                                            <li>Push Press</li>
                                                            <li>Romanian Deadlifts</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseThree"
                                                        aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseThree">
                                                        Bodybuilding
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseThree"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="panelsStayOpen-headingThree">
                                                    <div class="accordion-body">
                                                        <ul>
                                                            <li>Barbell Curl</li>
                                                            <li>Shoulder Press</li>
                                                            <li>Leg Press</li>
                                                            <li>Triceps Pushdown</li>
                                                            <li>Dumbbell Flyes</li>
                                                            <li>Lateral Raises</li>
                                                            <li>Hammer Curls</li>
                                                            <li>Leg Extension</li>
                                                            <li>Seated Row</li>
                                                            <li>Calf Raises</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </section>

            </main>
            <!-- End #main -->
            <%-include ("../Includes/Trainer/script.ejs")%>

                <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
                <script>
                    $(document).ready(function () {
                        // Initialize Select2 on the clientSelect element
                        $('.select2').select2({

                            placeholder: 'Search for a client',
                            allowClear: true // Allow clearing the selection
                        });

                        // Trigger validation when Select2 value changes
                        $('.select2').on('change', function () {
                            $(this).valid();
                        });
                    });


                </script>





    </body>

    </html>